<div
  class="d-flex justify-content-center align-items-center vh-100"
  style="background-color: rgb(158, 171, 207)"
>
  <div class="card shadow p-4" style="width: 100%; max-width: 400px">
    <h2 class="text-center mb-4">Login</h2>

    <form (ngSubmit)="login()" class="d-flex flex-column gap-3">
      <div>
        <label for="email" class="form-label">Email:</label>
        <input
          id="email"
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          class="form-control"
        />
      </div>

      <div>
        <label for="senha" class="form-label">Senha:</label>
        <input
          id="senha"
          type="password"
          [(ngModel)]="senha"
          name="senha"
          required
          class="form-control"
        />
      </div>

      <button type="submit" class="btn btn-primary w-100">Entrar</button>

      <p *ngIf="mensagem" class="text-danger text-center mt-3">
        {{ mensagem }}
      </p>
    </form>
  </div>
</div>
