<div class="displayPrincipal">
<div class="card">
    <div class="card-body">
  <h2 class="card-title">Login</h2>
  <form (ngSubmit)="login()">
    <label>Email:</label><br />
    <input type="email" [(ngModel)]="email" name="email" required><br /><br />

    <label>Senha:</label><br />
    <input type="password" [(ngModel)]="senha" name="senha" required><br /><br />

    <button class="btn btn-primary" type="submit">Entrar</button>
  </form>

  <p *ngIf="mensagem">{{ mensagem }}</p>
</div>
  </div>
</div>
